html, body {
    margin: 0;
    font-family: 'Cambria';
	color: #444343;
	
}

#colorApp {
	width: 1235px;
}

.appContainer {
	display: flex;
	justify-content: center;
}

h1, h2 {
    font-weight: 400;
}

.header {
    text-align: center;
    overflow: auto;
	margin-bottom: 20px;
}

.darkTheme {
	background-color: #161616;
	color: #FAFAFA;
}

.darkTheme .colorButton {
	margin: 0 5px;
	filter: invert(.95) grayscale(.7);
	user-select: none;
}

.darkTheme .colorButton:hover {
	filter: invert(.95) grayscale(0);
}

.darkTheme .colorButton:active {
	filter: invert(.95) contrast(3);
}
