html, body {
  margin: 0;
  font-family: 'Cambria';
	color: #444343;
	background-color: #fff;

}

#colorApp {
	width: 1235px;
}

.appContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

h1, h2 {
    font-weight: 400;
}

.darkTheme {
	background-color: #161616;
	color: #FAFAFA;
}

.darkTheme .colorButton {
	filter: grayscale(1) invert(1);
	user-select: none;
}

.darkTheme .colorButton:hover {
	filter: grayscale(1) invert(1) contrast(1.3);
}

.darkTheme .colorButton:active {
	filter: grayscale(1) invert(1) contrast(2);
}

.vc-chrome {
  box-shadow: 0 0 1px rgba(0,0,0,.5) !important;
  width: 200px !important;
  border-top: 1px solid rgb(66,66,66) !important;
}

.vc-material {
  width: 98px;
  height: 98px;
  padding: 5px !important;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0,0,0,.5) !important;
}
